body {    
    background: #d6d6d6;
    background: -moz-linear-gradient(left, #d6d6d6 0%, #e8f2f1 51%, #b2b3ba 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d6d6d6), color-stop(51%,#e8f2f1), color-stop(100%,#b2b3ba));
    background: -webkit-linear-gradient(left, #d6d6d6 0%,#e8f2f1 51%,#b2b3ba 100%);
    background: -o-linear-gradient(left, #d6d6d6 0%,#e8f2f1 51%,#b2b3ba 100%);
    background: -ms-linear-gradient(left, #d6d6d6 0%,#e8f2f1 51%,#b2b3ba 100%);
    background: linear-gradient(to right, #d6d6d6 0%,#e8f2f1 51%,#b2b3ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#b2b3ba',GradientType=1 );
}


#mainContainer{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
#header{
    display: inline-block;
    width: 80%;
    min-width: 240px;
    height: 80px;
    margin-top: 20px;
}
#leftMenu{
    text-align: left;
    display: inline-block;
    width: 13%;
    min-width: 100px;
    min-height: 200px;
    float: left;
    position: absolute;
    top: 130px;
    left: 5px;
}
#mainPanel{
    text-align: left;
    display: inline-block;
    width: 70%;
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#footer{
    display: inline-block;
    width: 80%;
    bottom: 10px;
    height: 40px;
}

.mainDiv{
    border: 1px solid #a8a8a8;
    padding: 3px;
}


#leftMenu ul {
    list-style-type: none;
}

#leftMenu ul button{
    width: 160px;
    border: 0;
    background: ghostwhite;
    margin-bottom: 2px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #444444;
}

#leftMenu ul button:hover{
    box-shadow: 0 0 5px rgba(150, 150, 150, 10);
    -webkit-box-shadow: 0 0 5px rgba(150, 150, 150, 10); 
    -moz-box-shadow: 0 0 5px rgba(150, 150, 150, 10); 
}